{% extends 'base.html.twig' %}

{% block title %}{{'Category index'|trans}}{% endblock %}

{% block body %}
    <h1> {{'Category index'|trans}}</h1>

    <table class="table table-hover table">
        <thead>
            <tr>
                <th>Id</th>
                <th> {{ 'Shortname'|trans }}</th>
                <th> {{ 'Longname'|trans }}</th>
                <th> {{ 'action'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.shortname }}</td>
                <td>{{ category.longname }}</td>
                
                <td>
                    <a class="btn btn-secondary" href="{{ path('category_show', {'id': category.id}) }}"><i class="fas fa-eye"></i>  {{ 'Show'|trans }}</a>

                    {% if is_granted('ROLE_ADMIN') %}<a class="btn btn-warning" href="{{ path('category_edit', {'id': category.id}) }}"><i class="fas fa-edit"></i>  {{ 'Edit'|trans }}</a>{% endif %}
            
                    {% if is_granted('ROLE_SUPER_ADMIN') %}<a class="btn btn-danger" href="{{ path('category_delete', {'id': category.id}) }}"><i class="fas fa-trash-alt"></i>  {{ 'Delete'|trans }}</a>{% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}<a class="btn btn-primary" href="{{ path('category_new') }}"><i class="fas fa-plus"></i> {{'Create new'|trans }}</a>{% endif %}
{% endblock %}
