{% extends 'base.html.twig' %}

{% block title %}Quiz index{% endblock %}

{% block body %}
    <h1>Quiz index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'Id'|trans }}</th>
                <th>{{ 'Title'|trans }}</th>
                <th>{{ 'Summary'|trans }}</th>
                <th>{{ 'Number_of_questions'|trans }}</th>
                <th>{{ 'Active'|trans }}</th>
                {# <th>{{ 'Created_at'|trans }}</th>
                <th>{{ 'Updated_at'|trans }}</th> #}
                <th>{{ 'actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for quiz in quizzes %}
            <tr>
                <td>{{ quiz.id }}</td>
                <td>{{ quiz.title }}</td>
                <td>{{ quiz.summary }}</td>
                <td>{{ quiz.numberOfQuestions }}</td>
                <td>{{ quiz.active ? 'Yes' : 'No' }}</td>
                
            {% for category in quiz.categories %}
                <td>{{ category.longname }}</td>
            {% endfor %}
                
                {# <td>{{ quiz.createdAt ? quiz.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ quiz.updatedAt ? quiz.updatedAt|date('Y-m-d H:i:s') : '' }}</td> #}
                <td>
                    <a class="btn btn-secondary" href="{{ path('quiz_show', {'id': quiz.id}) }}"><i class="fas fa-eye"></i> {{'show'|trans}} </a>
                    {% if is_granted('ROLE_ADMIN') %}<a class="btn btn-warning" href="{{ path('quiz_edit', {'id': quiz.id}) }}"> <i class="fas fa-edit"></i> {{'edit'|trans}} </a>{% endif %}
                    {% if is_granted('ROLE_SUPER_ADMIN') %}<a class="btn btn-danger" href="{{ path('quiz_delete', {'id': quiz.id}) }}"> <i class="fas fa-trash-alt"></i> {{ 'Delete'|trans }} </a>{% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">{{'no records found'|trans}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('quiz_new') }}">{{'Create new'|trans}}</a>
{% endblock %}
